@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    color-scheme: dark;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background: theme('colors.bg');
  color: theme('colors.text')
}
.btn {
  @apply px-3 py-1 rounded-2xl bg-accent hover:bg-accentHover text-bg;
}

@layer base {
  h1 {
    font-family: "Limelight", serif;
    @apply text-accent
  }
   h2, h3 {
    font-family: "Limelight", serif;
   @apply text-white
  }
  body {
    font-family: "Inter", system-ui, sans-serif;
    
  }
}

